@font-face {
  font-family: "DIN Condensed";
  src: url(" ../fonts/DINCondensed-Regular.eot");
  src: local("DIN Condensed"), local("DINCondensed-Regular"),
    url("../fonts/DINCondensed-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DINCondensed-Regular.woff") format("woff"),
    url("../fonts/DINCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DIN Condensed";
  src: url("../fonts/DINCondensed-Light.eot");
  src: local("DIN Condensed Light"), local("DINCondensed-Light"),
    url("../fonts/DINCondensed-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DINCondensed-Light.woff2") format("woff2"),
    url("../fonts/DINCondensed-Light.woff") format("woff"),
    url("../fonts/DINCondensed-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueBold.eot");
  src: local("Bebas Neue Bold"), local("BebasNeueBold"),
    url("../fonts/BebasNeueBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/BebasNeueBold.woff2") format("woff2"),
    url("../fonts/BebasNeueBold.woff") format("woff"),
    url("../fonts/BebasNeueBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Buran USSR";
  src: url("../fonts/Buran_USSR.ttf");
  src: local("Buran USSR"), local("BuranUSSR"),
    url("../fonts/Buran_USSR.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}