.footer {
  padding-bottom: 38px;
  padding-top: 93px;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  &__menu {
    width: 100%;
    margin-bottom: 40px;
  }
  &__menu,
  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__block {
    flex: 1;
  }
  &__link {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s;
    will-change: border-color;
    &:hover {
      border-color: $black;
    }
  }
  &__policy {
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s;
    will-change: border-color;
    letter-spacing: -0.007em;
    &:hover {
      border-color: $gray-500;
    }
  }
  &__logo {
    margin-right: 51px;
    text-align: center;
    img {
      height: 79px;
      width: 175px;
    }
  }
  &__text {
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: $gray-500;
    margin-top: 12px;
    font-style: normal;
    margin-left: 1px;
  }
}

@media screen and (max-width: 1120px) {
  .footer {
    &__logo {
      order: 1;
    }
    &__menu {
      order: 2;
      margin-top: 40px;
    }
    &__block {
      order: 3;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 52px 0 20px;
    &__logo {
      margin: 0 auto;
    }
    &__menu {
      flex-direction: column;
      margin: 26px 0 16px;
      row-gap: 20px;
    }
    &__text {
      text-align: center;
      margin-bottom: 18px;
      max-width: 266px;
    }
    &__block {
      flex-direction: column;
    }
    &__policy {
      margin-bottom: 0;
    }
  }
}