mixin breadcrumbs(data)
  .breadcrumbs
    .wrapper
      ul.breadcrumbs__list
        li
          a(href="/") Главная
        each link in data
          if link.href == ''
            img(src="/assets/images/breadcrumbs.svg" alt="breadcrumbs")
            li
              p= link.title
          else
            li
              img(src="/assets/images/breadcrumbs.svg" alt="breadcrumbs")
              a(href="" + link.href)= link.title