footer.footer
  .wrapper
    .footer__wrapper
      nav.footer__menu
        a.footer__link(href="#") О компании
        a.footer__link(href="#") Бренды
        a.footer__link(href="#") Акции
        a.footer__link(href="#") Контакты
        a.footer__link(href="#") Личный кабинет
      a.footer__logo(href="/")
        img(src="/assets/images/footer-logo.svg" alt="footer-logo")
      .footer__block
        address.footer__text г. Москва, проезд Походный, д. 4 к. 1 этаж МАНСАРДНЫЙ пом. XIII Ч К №4
        a.footer__text.footer__policy(href="#") Политика конфеденциальности