section.hero
  .wrapper
    .hero_wrapper
      img.hero__logo(src="/assets/images/hero-logo.svg" alt="hero-logo")
      p.hero__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .hero__slider
        .swiper.hero-slider
          .swiper-wrapper
            .swiper-slide
              img(src="/assets/images/hero-slide1.png" alt="hero-slide1")
            .swiper-slide
              img(src="/assets/images/hero-slide2.png" alt="hero-slide2")
            .swiper-slide
              img(src="/assets/images/hero-slide1.png" alt="hero-slide1")
            .swiper-slide
              img(src="/assets/images/hero-slide2.png" alt="hero-slide2")
          .hero__slider__navigation
            .hero__slider-prev
              img(src="/assets/images/arrow-prev.svg" alt="arrow-prev")
            .hero__slider-next
              img(src="/assets/images/arrow-next.svg" alt="arrow-next")
      p.hero__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .hero__application
        h3.hero__subtitle Оставь заявку, чтобы узнать о продукции
        button.hero__button(type="button")
          span.hero__button__text заявка на личный кабинет
          img(src="/assets/images/hero-icon.svg" alt="hero-icon")